<div class="pure-u-g">
  <div class="pure-u-4-5 mc-content">
    <div class="search-form">
      <h2 class="header mc-t-center">Search For Job Listings</h2>
      <form action="" class="pure-form mc-t-center">
        <fieldset>
          <input type="jobName" placeholder="Job Title" ng-model="$ctrl.search.job">
          <input type="location" placeholder="Location" ng-model="$ctrl.search.location">

          <button type="submit" class="pure-button" ng-click="$ctrl.submitSearch($ctrl.search)">Search</button>
        </fieldset>
      </form>
    </div>
    <ui-view></ui-view>
  </div>
</div>
