<div class="pure-u-1 mc-center">
  <h4>My Jobs</h4>
  <div class="pure-menu pure-menu-horizontal">
    <ul>
      <li class="pure-menu-item">
          <input type="search" placeholder="Filter" ng-model="search">
      </li>
      <li class="pure-menu-item">
        <div class="dropdown" ng-init="sort='title'; sortName='Job Title'">
        <button class="dropbtn">Sort By {{ sortName }}</button>
          <div class="dropdown-content">
            <a ng-click="sort='title'; sortName='Job Title'">Job Title</a>
            <a ng-click="sort='company'; sortName='Company'">Company</a>
            <a>Recently Submitted</a>
            <!-- Status, Progress, Upcoming interview -->
          </div>
        </div>
      </li>
      <li class="pure-menu-item">
        <a><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Job</th>
        <th>Company</th>
        <th>Resume</th>
        <th>Cover Letter</th>
        <th>Interview</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="job in $ctrl.jobs | filter:search | orderBy:sort">
        <td><a ui-sref="jobView({company: job.company, jobId: job._id})">{{ job.title }}</a></td>
        <td>{{job.company}}</td>
        <td class="popup">
          <span class="popuptext" id="myPopup" ng-if="$ctrl.popUp">Popup text...</span>
          <button ng-mouseover="$ctrl.popUpOpen($index)"><i class="fa {{job.tasks.resumeStatus}} fa-lg" aria-hidden="true"></i></button></td>
        <td><i class="fa {{job.tasks.coverLetterStatus}} fa-lg" aria-hidden="true"></i></td>
        <td><i class="fa {{job.tasks.interview.status}} fa-lg" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<modal-dialog show='modalShown' width='750px' height='90%'>
  <p>Modal Content Goes here<p>
</modal-dialog>
