<div class="mc-height">
<div class="pure-u-g mc-content">
  <div class="pure-u-1-5">
    <table class="pure-table">
      <tr>
        <th>Resume</th>
        <td><i class="fa {{ $ctrl.job.tasks.resumeStatus }}"></i></td>
      </tr>
      <tr>
        <th>Cover Letter</th>
        <td class="fa {{ $ctrl.job.tasks.coverLetterStatus }}"></td>
      </tr>
      <tr>
        <th>Interview</th>
        <td class="fa {{ $ctrl.job.tasks.interview.status }}">{{ $ctrl.job.tasks.interview.date }}</td>
      </tr>
    </table>
    <div>
      <a href="{{ $ctrl.job.url }}"><button>Go To Original Listing</button></a>
      <button ng-click="$ctrl.deleteJob($ctrl.job)">Delete Job</button>
    </div>
  </div>
  <div class="pure-u-3-5">
    <div class="header">
      <h2>{{ $ctrl.job.title }}</h2>
      <h4>{{ $ctrl.job.company }}</h4>
      <h4>{{ $ctrl.job.location }}</h4>
    </div>
    <div>
      <form action="/file-upload">
        <input type="file">
      </form>
    </div>
    <p>{{ $ctrl.job.description }}</p>
    <!-- <p ng-bind-html="{{$ctrl.job.description}}"></p> -->
    <br>
    <h4 class="pure-u-3-5 mc-width">Notes<i class="fa fa-pencil mc-right" ng-click="$ctrl.toggleEditNotes()"></i></h4>
    <p ng-if="!$ctrl.showEditNotes">{{ $ctrl.job.notes }}</p>
    <div ng-if="$ctrl.showEditNotes">
      <textarea ng-model="$ctrl.newNotes" name="" id="" cols="60" rows="10"></textarea>
      <button ng-click="$ctrl.submitNotes($ctrl.newNotes, $ctrl.job)">Save Notes</button>
      <button ng-click="$ctrl.toggleEditNotes()">Cancel</button>
    </div>
    <br>
    <div ng-if="$ctrl.glassdoor">
      <h4>
        <a><img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' /></a>
        Company Reviews
      </h4>
      <h5>Name: <a href="{{ $ctrl.glassdoor.name }}">{{ $ctrl.glassdoor.name }}</a></h5>
      <h5>Industry: {{ $ctrl.glassdoor.industry }}</h5>
      <h5>{{ $ctrl.glassdoor.featuredReview.jobTitle }} <br> {{ $ctrl.glassdoor.featuredReview.headline }}</h5>
      <p>{{ $ctrl.glassdoor.featuredReview.location}}</p>
      <br>
      <p>Pros: {{ $ctrl.glassdoor.featuredReview.pros }}</p>
      <p>Cons: {{ $ctrl.glassdoor.featuredReview.cons }}</p>
      <p>{{ $ctrl.glassdoor }}</p>
    </div>
  </div>
</div>
</div>
