* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 75px;
}

h2 {
  font-family: 'Roboto';
}

h4 {
  font-family: 'Roboto';
  /*font-weight: bold;*/
}

label, p, legend, td {
  font-family: 'Open Sans';
}

a {
  color: #333230;
}

a:hover {
  color: white;
}

a:visited {
  color: #333230;
}

td a{
  color: #DB604E;
  text-decoration: none;
}

td a:visited {
  color: #DB604E;
}

.pure-menu-link:focus {
  background-color: transparent;
}

[ng-click] {
  cursor: pointer;
}

.job-ctrl ul{
  padding: 0;
}

.job-ctrl li {
  padding-right: 20px;
}

.job-ctrl-right{
  float: right;
  padding-right: 3px !important;
}

.mc-content {
  height: 100%;
  /*text-align: center;*/
  margin: 20px auto;
  display: block;
/*width: 50%;*/
}

.pure-button {
  background-color: #333230;
  color: white;
}

.pure-button:hover {
  color: #DB604E;
}

.button-small {
            font-size: 85%;
        }

.header {
  margin: 50px auto 70px auto;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
}

.page {
  /*height: 100%;*/
}

.footer {
  position: absolute;
  bottom: 0;
  min-height: 75px;
}

.footer li {
  margin: 20px
}

.footer .mc-right {
  margin-right: 0;
}

footer ul{
  width: 100%;
}

.mc-width {
  width: 100%;
}

.mc-right {
  float: right;
  padding-right: 10%;
  /*position: relative;*/
  /*right: 3em;*/
}

.mc-left {
  float: left;
  position: absolute;
  left: 0;
}

.mc-nav {
  background-color: #333230;
}

.nav-right {
  float: right;
  margin-left: 275px;
  /*margin-left: 80%;*/
}

.fa-cog {
  color: #f9f9ea !important;
}

.fa-cog:hover {
  color: #DB604E !important;
}

.mc-nav a {
  color: #f9f9ea;
  font-family: 'Roboto', light;
  /*font-weight: 100;*/
}

.landing {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9ea;
  /*opacity: 0.9;*/
}

.landing h1 {
  color: #333230;
  font-family: 'Roboto', light;
  font-size: 10em;
}

.landing-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-xlarge {
  font-size: 125%;
  /*text-align: center;*/

  /*margin: auto;*/
}

.landing-buttons {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.mc-nav a.pure-menu-item:hover {
  color: #DB604E;
  background-color: transparent;
  text-shadow: 2px 2px 2px #262523;
}

.mc-t-center {
  text-align: center;
}

.sidebar {
  margin-right: 40px;
}

.sidebar button {
  margin: 10px 0px;
}

.sidebar-button {
  margin: 20px 0px;
}

/*-----glassdoor------*/
.glassdoor-header img{
  max-width: 15%;
}

.glassdoor-header h4 {
  display: inline;
}

/*------- tables --------*/
.pure-table thead {
  background-color: #333230;
  color: #f9f9ea;
  /*border-color: blue;*/
}

/*------- icons --------*/

.fa {
  color: #333230;
}

.fa-caret-right, .fa-caret-down {
  color: white;
}

.fa-plus-circle:hover {
  color: #DB604E;
}

/*----- search -------*/
.search-result {
  margin-bottom: 80px;
}

.search-form {
  margin-bottom: 60px;
}

/*--------- dropdown ---------*/

/* Style The Dropdown Button */
.dropbtn {
    background-color: #333230;
    color: white;
    font-size: 16px;
    padding: 3px 6px;
    border: 1px solid #333230;
    border-radius: 2px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #DB604E;*/
}

/*-------- pop up ----------*/


.popup {
    width: 120px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    margin-top: -30px;
    margin-left: -50px;
    z-index: 1;
}

.popup-icons {
  display: inline;
}

.popup-icons .fa{
  color: white;
}

.popup-icons .fa:hover {
  color: #DB604E;
}


/*--------- modal ---------*/


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


#indeed {
  height: 20px;
}

/*------- confetti ------*/
canvas {
  display: block;
  position: relative;
  zindex: 1;
  pointer-events: none;
}

#confetti {
  /*text-align: center;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;*/

  position:absolute;
  z-index:9999;
  top:10;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
