<div class='ng-modal sickk' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='$ctrl.togglePopup()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
  cool {{ jobData }}
    <div class='ng-modal-close' ng-click='$ctrl.togglePopup()'>X</div>
    <div class='ng-modal-dialog-content' ng-transclude>{{ jobData }}</div>
  </div></div>


          <!-- <td ng-click="$ctrl.togglePopup()">
            <popup show="$ctrl.showPopup" width='750px' height='60%' job-data="job"></popup>
            <i class="fa {{job.tasks.coverLetterStatus}} fa-lg" aria-hidden="true"></i></td> -->

            <!-- <popup width='750px' height='60%' job-data="job"></popup> -->
